:focus {
    outline: none;
}
input[type=text] {
  -webkit-appearance: none;
}
.button{
  display: inline-block;
  height: 30px; /*sets height of element*/
  line-height: 30px;
  min-width: 142px;
  background-color: #f2f2f2; /*sets the background of this element (here a solid colour)*/
  -webkit-transition: all 0.6s; /*sets a transition (for hover effect)*/
  padding-left: 20px; /*sets 'padding'*/
  padding-right: 20px; /*sets 'padding'*/
  color:#757575;
  font-family: arial,sans-serif;
  font-size: 13px;
  font-weight: bold;
  border: 1px solid #f2f2f2;
  border-radius: 2px;
  text-align: center;
}
.centrebox {
    display: block;
    text-align: -webkit-center;
}

.button:hover {
	border: 1px solid #c9c9c9;
	color: #636363;
	box-shadow: 1px 1px 1px #f2f2f2;
}
.searchline {
	outline: none;
    border: none;
    color:black;
    font-size: 15px;
    width: 350px;
}
.seachline:focus {
	outline: none;
    text-align: center;
     color:#757575;

}
.searchborder {
    display: flex;
  	justify-content: left;
    text-align: -webkit-center;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #f2f2f2;
	height: 44px;
    width: 428px;
    outline: none;
  	box-shadow: 0.5px 0.5px 2px #848484;
}
.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
	height: 92px;
    width: 272px;
}
.app_icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
	height: 40px;
    width: 40px;}

.squares_icon{
background-image: url("images/squares_grey.png"); 
	height: 30px;
    width: 30px;
    background-repeat:no-repeat;
}


.bells_icon{
background-image: url("images/bells_grey.png"); 
	height: 30px;
    width: 30px;
    background-repeat:no-repeat;
}

.squares_icon:hover{
background-image: url("images/squares_black.png"); 
}

.bells_icon:hover{
background-image: url("images/bells_black.png"); 
}


.users_icon{
background-image: url("images/user.png"); 
	height: 50px;
    width: 30px;
    background-repeat:no-repeat;
}
ul {
    display: inline-block;
    float: right;
    text-align: right;
    vertical-align: middle;
    padding-left: 30px;
    padding-right: 30px;
    color: #757575;
    text-decoration: none;
	}
    
ul li {    
	display: inline-block;
	text-align: center;
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
	padding-right: 15px;
	padding-right: 15px;
	font-size: 13px;
	font-family: arial,sans-serif;
	color:#757575;
    text-decoration: none;
    background-position: center; 

}
ul li a {    
	display: inline-block;
	font-size: 13px;
	font-family: arial,sans-serif;
	  color:#757575;
    text-decoration: none;

}
ul li a:hover {    
	font-size: 13px;
	
	font-family: arial,sans-serif;
	  color:#757575;
    text-decoration: underline;

}
.footerlow {
	  position: absolute;
  	right: 0;
  	bottom: 0;
  	left: 0;
  	padding: 1rem;
  	background-color: #efefef;
  	text-align: center;
  	padding-left: 15px;
	padding-right: 15px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin: 0px;
	height: 30px;
	line-height: 30px;
	font-size: 13px;
	font-family: arial,sans-serif;
	background: #f2f2f2;;
    text-decoration: none;
    color:#757575;
    display: inline-block;

}

.rightfoot {
	display: inline-block;
	float: right;
		font-size: 13px;
	font-family: arial,sans-serif;
    text-decoration: none;
    color:#757575;
    display: inline-block;

}
.leftfoot {
	float: left;
	display: inline-block;
    text-decoration: none;
    color:#757575;
    display: inline-block;
}

.fontstuff {
	font-size: 13px;
	font-family: arial,sans-serif;
	background: #f2f2f2;;
    text-decoration: none;
    color:#757575;
    display: inline-block;
      	padding-left: 15px;
	padding-right: 15px;
}
}

