:focus {outline:none;}
.button{
  display: inline-block;
  height: 50px; /*sets height of element*/
  background-color: #f2f2f2; /*sets the background of this element (here a solid colour)*/
  -webkit-transition: all 0.6s; /*sets a transition (for hover effect)*/
  padding-left: 20px; /*sets 'padding'*/
  padding-right: 20px; /*sets 'padding'*/
  color:#757575;
  line-height: 50px; /*for this, it sets vertical alignment*/
  font-family: arial,sans-serif;
  font-size: 13px;
  font-weight: bold;
  border: 1px solid #f2f2f2;
  border-radius: 2px;
  text-align: center;
}
.button:hover {
	border: 1px solid #c9c9c9;
	color: #636363;
	box-shadow: 1px 1px 1px #f2f2f2;
}
.seachbox {
	outline: none;
    text-align: center;

}
.seachbox:focus {
	outline: none;
    text-align: center;
     color:#757575;

}
.searchborder {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #f2f2f2;
	height: 44px;
    width: 428px;
  text-align: center;
}
.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
	height: 92px;
    width: 272px;
}
.app_icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
	height: 40px;
    width: 40px;
}
.user_icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
	height: 50px;
    width: 50px;
}
ul {
    display: inline-block;
    padding: 10;
    list-style-type: none;
    margin: 15;
    padding: 15;
    padding-left: 30px;
    padding-right: 30px;
    float: right;
       color: #757575;
    text-decoration: none;
}
ul li {    
	#display: block;
	padding: 5px;
	float: left;
	font-size: 13px;
	font-family: arial,sans-serif;
	  color:#757575;
	     color: #FFFFFF;
    text-decoration: none;

}
ul li a {    
	font-size: 13px;
	vertical-align: middle;
    height:200px;
	font-family: arial,sans-serif;
	  color:#757575;
    text-decoration: none;

}
ul li a:hover {    
	font-size: 13px;
	font-family: arial,sans-serif;
	  color:#757575;
    text-decoration: underline;

}
